@font-face {
    font-family: "VT323", monospace;
    src: url("VT323-Regular.ttf") format("truetype");
}

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

#app {
    text-align: center;
    background: #000000;
    border: solid #ffffff;
    padding: 20px;
    width: 400px;
}

body {
    font-family: "VT323", sans-serif;
    background-image: url("Images/menu_bg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


button {
    background-color: #000000;
    color: white;
    border: solid white;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "VT323", monospace, sans-serif;
}

button:hover {
    background-color: #ffffff;
    color: black;
}

button:focus {
    outline: 2px solid black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    border: solid white;
}

#username {
    font-family: "VT323", monospace, sans-serif;
}

.modal-buttons {
    margin-top: 15px;
}

.modal-buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.modal-buttons button:first-child {
    background-color: #000000;
    color: white;
}

.modal-buttons button:last-child {
    background-color: #000000;
    color: white;
}

.modal-buttons button:hover {
    opacity: 0.9;
    background-color: white;
    color: black;
}

.menu {
    color: white;
    background-color: black;
    font-family: "VT323", sans-serif;
    border: solid white;
}

h1 {
    color: white;
}

#name-entry-modal {
    position: fixed;
    border: solid;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name-entry-modal .modal-content {
    background-color: #000000;
    color: white;
    padding: 20px;
    width: 300px;
    text-align: center;
}

#name-entry-modal p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
}

#name-entry-modal input {
    width: 90%;
    padding: 10px;
    border: solid #ccc;
    font-size: 16px;
    margin-bottom: 20px;
}

#name-entry-modal .modal-buttons {
    display: flex;
    justify-content: space-between;
}


#name-entry-modal .modal-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #000000;
    color: white;
}

#name-entry-modal .modal-buttons button:last-child {
    background-color: #000000;
}


#story-section {
    text-align: center;
    padding: 20px;
}

#story-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
}

#story-section button {
    background-color: transparent;
    border: solid white;
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
}

#story-section button:hover {
    background-color: white;
    color: #000000;
}


#choose-destination {
    position: relative;
    text-align: center;
    padding: 20px;
    height: auto;
    overflow: hidden;
    color: white;
}


#choose-destination .cockpit {
    position: relative;
    background-color: #000000;
    color: white;
    padding: 40px;
    width: 80%;
    margin: 0 auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#choose-destination h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

#choose-destination .arrow-down {
    font-size: 40px;
    color: #ffffff;
    margin-top: 10px;
}

#flight-title {
    width: 400px;
    padding: 10px;
    background-color: #000000;
    color: white;
    text-align: center;
}



#flight-title p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

#country-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
    justify-content: center;
}
#country-list li {
    padding: 10px;
    margin: 5px 0;
    background-color: black;
    color: white;
    cursor: pointer;
}

#country-list li:hover {
    background-color: #e0f7fa;
    color: black;
}


#stats-display {
    text-align: left;
    font-size: 16px;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: solid #ffffff;
    width: 90%;
    margin: 0 auto;
}

#stats-display p {
    margin: 5px 0;
}

#outcome-page {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    border: solid #ccc;
    max-width: 500px;
    color: white;
    background-color: #000000;
}

#outcome-page h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#outcome-page p {
    font-size: 18px;
    margin-bottom: 20px;
}

#outcome-page button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: white;
    border: solid;
    cursor: pointer;
}

#outcome-page button:hover {
    background-color: #ffffff;
    color: #000000;
    border: solid;
}


#leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#leaderboard-table th, #leaderboard-table td {
    border: solid #ccc;
    padding: 10px;
    text-align: center;
}

#leaderboard-table th {
    background-color: #000000;
    font-weight: bold;
}

#leaderboard-table tbody tr:nth-child(odd) {
    background-color: #000000;
}

#leaderboard-table tbody tr:nth-child(even) {
    background-color: #000000;
}
